.input {
  display: flex;
  flex-direction: column;
  width: 211px;

  &__label {
    margin: 0 0 3px;
    color: #000;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
  }

  &__field {
    box-sizing: border-box;
    width: 211px;
    height: 22px;
    margin: 0 0 10px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;

    &.active {
      color: #000;
    }

    &:invalid {
      border: 1px solid #d91313;
      outline: none;
    }
  }
}
