.button {
  margin: 0;
  padding: 5.02px 15px;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  background-color: #4b51ef;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}
