.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 438px;

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    width: 438px;
    margin: 0 0 11px;
  }

  &__title {
    margin: 0;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 438px;
    margin: 0 0 10px;
    padding: 20px 6px 19px 12px;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
  }

  .button {
    padding: 6.5px 14px;
  }
}
