.submit {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  padding: 5.02px 11.5px;
  margin: 0;
  background: #afafaf;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.active {
    background: #52cf4f;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    &.active,
    &:hover,
    &:active {
      opacity: 1;
      background: #afafaf;
      cursor: default;
    }
  }
}
