html, body, #root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  width: 100%;
  min-width: 665px;
  height: auto;
}

html {
  background-color: #e5e5e5;
}

body, #root {
  width: 665px;
  min-height: 100vh;
  margin: 0 auto;
}
