html, body, #root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 320px;
  height: auto;
}

body, #root {
  max-width: 665px;
  min-height: 100vh;
}
